@media(min-width:768px) {


    .header {

     text-align: center;
     align-items: center;
     padding: 10px;
     height: 100px;
    }

    .nav__list {

        display: none;
    }

    .aside {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
